* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #101417;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;

    .white--shadow {
        position: absolute;
        width: 100%;
        height: 100%;   
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 50px 15px;


        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;

            h2 {
                width: 154px;
                height: 53px;
                font-family: 'Mountains of Christmas';
                font-weight: 400;
                font-size: 38px;
                color: #ffffff;
                display: flex;
                align-items: center;
            }

            .head--Register {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;

                a {
                    font-weight: 400;
                    font-size: 18px;
                    text-decoration: none;
                    color: #ffffff;
                    font-family: 'Michroma';

                }

                button {
                    font-family: 'Michroma';
                    width: 178px;
                    height: 46px;
                    padding: 10px 40px;
                    border-radius: 43px;
                    color: #ffffff;
                    border: none;
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center;
                    background: linear-gradient(180deg, #1CB981 0%, #076141 50%, #1CB981 100%);
                }

                img {
                    display: none;
                }
            }
        }
    }

    .section--1 {
        padding: 50px 15px;

        .section--1--letter {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;

            h1 {
                font-weight: 400;
                font-size: 58px;
                text-align: center;
                font-family: 'Michroma';
                color: #ffffff;
            }

            p {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 24px;
                text-align: center;
                color: #9F9F9F;
                ;
            }

            button {
                width: 441px;
                height: 85px;
                border-radius: 43px;
                color: #ffffff;
                background: linear-gradient(180deg, #1CB981 0%, #076141 50%, #1CB981 100%);
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 36px;
                text-align: center;

            }
        }

    }

    .section--2 {
        padding: 50px 15px;
        background: linear-gradient(180deg, rgba(23, 164, 114, 0.2) 0%, rgba(8, 102, 69, 0.2) 100%);


        .section--2--letter {
            display: flex;
            flex-direction: column;
            gap: 50px;

            h2 {
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 48px;
                text-align: center;
                color: #ffffff;
            }

            .section--2--card {
                width: 100%;
                max-width: 1200px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 30px;
                row-gap: 50px;
                margin: 0 auto;

                .card--2 {
                    max-width: 350px;
                    width: calc((100% - 150px)/3);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    h3 {
                        font-family: 'Michroma';
                        font-weight: 400;
                        font-size: 28px;
                        text-align: center;
                        color: #ffffff;

                    }

                    p {
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 22px;
                        text-align: center;
                        color: #9F9F9F;


                    }
                }


                .card--2:nth-of-type(1) {
                    margin-top: 13.5px;

                    img {
                        width: 100px;
                        height: 100px;
                    }

                }

                .card--2:nth-of-type(2) {
                    width: 350px;
                    height: 301px;

                    img {
                        width: 66.7px;
                        height: 100px;
                    }

                }

                .card--2:nth-of-type(3) {
                    margin-top: 13.5px;

                    img {
                        width: 140px;
                        height: 100px;

                    }
                }

                .card--2:nth-of-type(4) {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                .card--2:nth-of-type(5) {
                    img {
                        width: 91.7px;
                        height: 100px;
                    }
                }
            }
        }
    }

    .section--3 {
        padding: 50px 15px;

        .section--3--letter {
            display: flex;
            flex-direction: column;
            gap: 50px;

            h2 {
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 48px;
                text-align: center;
                color: #ffffff;
            }

            .section--3--item {
                width: 100%;
                max-width: 1200px;
                display: flex;
                gap: 30px;
                margin: 0 auto;

                .item--3--1 {
                    max-width: 380px;
                    width: calc((100% - 60px)/3);
                    height: 470px;
                    padding: 50px 30px 30px 30px;
                    border-radius: 20px;
                    background: rgba(255, 255, 255, 0.051);
                    border: 1px solid #FFFFFF;
                    position: relative;

                    .item--letter {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        img {
                            width: 90px;
                            height: 90px;
                        }

                        h4 {
                            font-family: 'Michroma';
                            font-weight: 400;
                            font-size: 22px;
                            color: #ffffff;

                        }

                        p {
                            font-family: 'Montserrat';
                            font-weight: 400;
                            font-size: 18px;
                            color: #9F9F9F;


                        }
                    }

                    button {
                        width: 180px;
                        height: 46px;
                        padding: 10px 20px;
                        border-radius: 43px;
                        font-family: 'Michroma';
                        font-weight: 400;
                        font-size: 18px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin-bottom: 30px;
                        margin-right: 30px;
                        color: #ffffff;
                        background: linear-gradient(180deg, #1CB981 0%, #076141 50%, #1CB981 100%);

                    }
                }

                .item--3--1:nth-of-type(1) {
                    display: none;
                }
            }
        }
    }

    .section--4 {
        padding: 50px 15px;
        background: linear-gradient(180deg, rgba(23, 164, 114, 0.2) 0%, rgba(8, 102, 69, 0.2) 100%);

        .section--4--letter {
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: center;

            h2 {
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 48px;
                text-align: center;
                color: #ffffff;

            }

            .section--4--box {
                width: 100%;
                max-width: 1200px;
                padding: 0 8.5px;
                display: flex;
                justify-content: center;
                gap: 17px;
                flex-wrap: wrap;

                .box--4 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 383px;
                    width: calc((100% - 39px)/3);
                    min-width: 298px;
                    gap: 20px;

                    p {
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 24px;
                        text-align: center;
                        color: #ffffff;

                    }
                }

                .box--4:nth-of-type(1) {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                .box--4:nth-of-type(2) {
                    img {
                        width: 99.95px;
                        height: 100px;
                    }
                }

                .box--4:nth-of-type(3) {
                    img {
                        width: 122.8px;
                        height: 100px;
                    }
                }
            }
        }
    }

    .section--5 {
        padding: 50px 15px;

        .section--5--letter {
            display: flex;
            flex-direction: column;
            gap: 50px;

            h2 {
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 48px;
                text-align: center;
                color: #ffffff;
            }

            .section--5--card {
                width: 100%;
                max-width: 1200px;
                display: flex;
                gap: 30px;
                margin: 0 auto;

                .card--5 {
                    max-width: 380px;
                    width: calc((100% - 60px)/3);
                    padding: 61px 30px;
                    border-radius: 20px;
                    background: rgba(255, 255, 255, 0.051);
                    border: 1px solid #FFFFFF;
                    display: flex;
                    flex-direction: column;

                    .card--5--1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        margin-bottom: 30px;

                        img {
                            width: 90px;
                            height: 93.24px;
                        }

                        h4 {
                            font-family: 'Michroma';
                            font-weight: 400;
                            font-size: 22px;
                            text-align: center;
                            color: #ffffff;

                        }

                        h5 {
                            font-family: 'Montserrat';
                            font-weight: 400;
                            font-size: 18px;
                            text-align: center;
                            color: #ffffff;

                        }
                    }

                    .card--5--2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;

                        img {
                            width: 30px;
                            height: 22.2px;
                        }

                        p {
                            font-family: 'Montserrat';
                            font-weight: 400;
                            font-size: 18px;
                            text-align: center;
                            color: #9F9F9F;


                        }
                    }
                }

                .card--5:nth-of-type(1) {
                    display: none;
                }
            }
        }
    }

    .section--6 {
        padding: 50px 15px;
        background: linear-gradient(180deg, rgba(23, 164, 114, 0.2) 0%, rgba(8, 102, 69, 0.2) 100%);


        .section--6--letter {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            margin: 0 auto;

            .letter--6 {
                width: 100%;
                max-width: 1200px;

                h2 {
                    font-family: 'Michroma';
                    font-weight: 400;
                    font-size: 48px;
                    text-align: center;
                    color: #ffffff;
                    margin-bottom: 10px;
                }

                p {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 24px;
                    text-align: center;
                    color: #9F9F9F;
                }
            }

            .start--1 {
                width: 836px;
                height: 85px;
                padding: 17px 60px;
                border-radius: 43px;
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 36px;
                text-align: center;
                color: #ffffff;
                background: linear-gradient(180deg, #1CB981 0%, #076141 50%, #1CB981 100%);

            }

            .start--2 {
                display: none;
                width: 179px;
                height: 43px;
                padding: 10px 20px;
                border-radius: 43px;
                font-size: 16px;
                font-family: 'Michroma';
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                color: #ffffff;
                background: linear-gradient(180deg, #1CB981 0%, #076141 50%, #1CB981 100%);


            }
        }
    }

    .section--7 {
        padding: 50px 15px;

        .section--7--letter {
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            gap: 20px;

            h2 {
                font-family: 'Mountains of Christmas';
                font-weight: 400;
                font-size: 48px;
                text-align: center;
                color: #ffffff;

            }

            .section--7--1 {
                display: flex;
                column-gap: 50px;
                row-gap: 10px;
                flex-wrap: wrap;
                justify-content: center;

                p {
                    font-family: 'Michroma';
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center;
                    color: #ffffff;
                }
            }

            .section--7--2 {
                display: flex;
                column-gap: 50px;
                row-gap: 10px;
                flex-wrap: wrap;
                justify-content: center;

                p {
                    font-family: 'Michroma';
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center;
                    color: #ffffff;
                }
            }

            .section--7--3 {
                display: flex;
                gap: 50px;
                flex-wrap: wrap;
                justify-content: center;

                p {
                    font-family: 'Michroma';
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
}

@media (min-width:740px) and (max-width:1024px) {
    body {
        gap: 30px;

       

        header {
            padding: 30px 50px;

            .head {
                .head--Register {
                    gap: 30px;

                    a:nth-of-type(2) {
                        display: none;
                    }

                    a:nth-of-type(4) {
                        display: none;
                    }
                }
            }
        }

        .section--1 {
            padding: 30px 50px;

            .section--1--letter {
                gap: 30px;


                h1 {
                    font-size: 48px;
                }

                p {
                    font-size: 22px;
                }

                button {
                    width: 340px;
                    height: 70px;
                    padding: 15px 45px;
                    border-radius: 43px;
                    font-size: 28px;
                }
            }
        }

        .section--2 {
            padding: 30px 0px;


            .section--2--letter {
                gap: 30px;

                h2 {
                    font-size: 36px;
                }

                .section--2--card {
                    padding: 0px 9px;
                    column-gap: 50px;
                    row-gap: 30px;
                    flex-wrap: wrap;
                    display: grid;
                    display: flex;


                    .card--2 {
                        gap: 15px;
                        height: 253px;
                        max-width: 300px;
                        width: 100%;

                        h3 {
                            font-size: 22px;
                        }
                    }


                    .card--2:nth-of-type(1) {
                        margin-top: 0px;

                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }

                    .card--2:nth-of-type(2) {
                        height: 253px;

                        img {
                            width: 53.3px;
                            height: 80px;
                        }

                    }

                    .card--2:nth-of-type(3) {
                        margin-top: 0px;

                        img {
                            width: 111.98px;
                            height: 80px;
                        }
                    }

                    .card--2:nth-of-type(4) {
                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }

                    .card--2:nth-of-type(5) {
                        img {
                            width: 73.3px;
                            height: 80px;
                        }
                    }
                }
            }
        }

        .section--3 {
            padding: 30px 15px;


            .section--3--letter {
                gap: 30px;


                h2 {
                    font-size: 36px;
                }

                .section--3--item {
                    max-width: 668px;
                    width: 100%;
                    gap: 25px;

                    .item--3--1 {
                        width: 100%;
                        max-width: 320px;
                    }

                    .item--3--1:nth-of-type(1) {
                        display: block;
                    }

                    .item--3--1:nth-of-type(3) {
                        display: none;
                    }

                    .item--3--1:nth-of-type(4) {
                        display: none;
                    }
                }
            }
        }

        .section--4 {
            padding: 30px 0px;

            .section--4--letter {
                gap: 30px;

                h2 {
                    font-size: 36px;
                    padding: 0 50px;
                }

                .section--4--box {
                    column-gap: 17px;
                    row-gap: 30px;
                    width: 100%;
                    max-width: 668px;

                    .box--4 {
                        max-width: 300px;
                        width: calc((100% - 68px)/2);

                        p {
                            font-size: 22px;
                        }
                    }

                    .box--4:nth-of-type(1) {
                        img {
                            width: 80px;
                            height: 80px;

                        }
                    }

                    .box--4:nth-of-type(2) {
                        img {
                            width: 79.96px;
                            height: 80px;
                        }
                    }

                    .box--4:nth-of-type(3) {
                        img {
                            width: 98.24px;
                            height: 80px;
                        }
                    }
                }
            }
        }

        .section--5 {
            padding: 30px 15px;

            .section--5--letter {
                gap: 30px;


                h2 {
                    font-size: 36px;
                }

                .section--5--card {
                    width: 100%;
                    max-width: 668px;
                    gap: 25px;


                    .card--5 {
                        max-width: 320px;
                        width: calc((100% - 25px)/2);
                        width: 320;
                        height: 516.64px;
                        padding: 50px 20px;
                    }

                    .card--5:nth-of-type(1) {
                        display: block;
                    }

                    .card--5:nth-of-type(3) {
                        display: none;
                    }

                    .card--5:nth-of-type(4) {
                        display: none;
                    }
                }
            }
        }

        .section--6 {
            padding: 30px 50px;

            .section--6--letter {
                gap: 30px;

                .letter--6 {
                    gap: 10px;

                    h2 {
                        font-size: 36px;
                    }


                }

                .start--1 {
                    max-width: 554px;
                    width: 100%;
                    padding: 15px 0px;
                    border-radius: 43px;
                    font-size: 22px;
                }

            }
        }

        .section--7 {
            padding: 30px 50px;

            .section--7--letter {
                gap: 30px;

                .section--7--1 {
                    max-width: 668px;
                    width: 100%;
                    padding-inline: 15px;
                }

                .section--7--2 {
                    max-width: 668px;
                    width: 100%;
                }

                .section--7--3 {
                    max-width: 668px;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:739px) {
    body {
        gap: 10px;
        header {
            padding: 20px 30px;

            .head {
                padding-inline: 30px;

                h2 {
                    font-size: 24px;
                }

                .head--Register {
                    a {
                        display: none;
                    }

                    button {
                        display: none;
                    }

                    img {
                        display: block;
                        width: 30px;
                        height: 19px;
                    }
                }
            }
        }

        .section--1 {
            padding: 20px 30px;

            .section--1--letter {
                gap: 15px;
                padding: 0 15px;


                h1 {
                    font-size: 22px;
                }

                p {
                    font-size: 14px;
                }

                button {
                    max-width: 187px;
                    width: 100%;
                    height: 43px;
                    padding: 8px 10px;
                    border-radius: 43px;
                    font-size: 16px;

                }
            }
        }

        .section--2 {
            padding: 20px 0px;


            .section--2--letter {
                gap: 30px;
                padding: 0 20px;

                h2 {
                    font-size: 22px;
                }

                .section--2--card {
                    padding: 0px 15px;
                    gap: 30px;
                    flex-wrap: wrap;
                    display: grid;
                    display: flex;



                    .card--2 {
                        max-width: 300px;
                        width: 100%;
                        gap: 10px;

                        h3 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 18px;
                        }
                    }


                    .card--2:nth-of-type(1) {
                        margin-top: 0px;

                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .card--2:nth-of-type(2) {
                        height: 176px;

                        img {
                            width: 40px;
                            height: 60px;
                        }

                    }

                    .card--2:nth-of-type(3) {
                        margin-top: 0px;

                        img {
                            width: 83.98px;
                            height: 60px;
                        }
                    }

                    .card--2:nth-of-type(4) {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .card--2:nth-of-type(5) {
                        img {
                            width: 55px;
                            height: 60px;
                        }
                    }
                }
            }
        }

        .section--3 {
            padding: 20px 15px;


            .section--3--letter {
                gap: 30px;


                h2 {
                    font-size: 22px;
                }

                .section--3--item {
                    max-width: 320px;
                    width: 100%;

                    .item--3--1 {
                        width: 100%;
                        max-width: 320px;
                        height: 340px;
                        padding: 30px 20px;

                        .item--letter {
                            img {
                                width: 70px;
                                height: 70px;
                            }

                            h4 {
                                font-size: 18px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }

                        button {
                            margin-bottom: 20px;
                            margin-right: 20px;
                            max-width: 148px;
                            width: 100%;
                            height: 43px;
                            padding: 8px 15px;
                            border-radius: 43px;
                            font-size: 16px;

                        }
                    }



                    .item--3--1:nth-of-type(1) {
                        display: block;
                    }

                    .item--3--1:nth-of-type(2) {
                        display: none;
                    }

                    .item--3--1:nth-of-type(3) {
                        display: none;
                    }

                    .item--3--1:nth-of-type(4) {
                        display: none;
                    }
                }
            }
        }

        .section--4 {
            padding: 20px 30px;

            .section--4--letter {
                gap: 30px;

                h2 {
                    font-size: 22px;
                    padding: 0 50px;
                }

                .section--4--box {
                    gap: 30px;
                    width: 100%;
                    max-width: 330px;

                    .box--4 {
                        max-width: 300px;
                        width: calc(100% - 30px);
                        min-width: 150px;
                        gap: 15px;

                        p {
                            font-size: 18px;
                        }
                    }

                    .box--4:nth-of-type(1) {
                        img {
                            width: 60px;
                            height: 60px;

                        }
                    }

                    .box--4:nth-of-type(2) {
                        img {
                            width: 59.97px;
                            height: 60px;
                        }
                    }

                    .box--4:nth-of-type(3) {
                        img {
                            width: 73.68px;
                            height: 60px;
                        }
                    }
                }
            }
        }

        .section--5 {
            padding: 20px 15px;

            .section--5--letter {
                gap: 30px;


                h2 {
                    font-size: 22px;
                }

                .section--5--card {
                    width: 100%;
                    max-width: 320px;


                    .card--5 {
                        max-width: 320px;
                        width: 100%;
                        padding: 30px 20px;

                        .card--5--1 {
                            gap: 5px;
                            margin-bottom: 20px;

                            img {
                                width: 70px;
                                height: 70px;
                            }

                            h4 {
                                font-size: 18px;
                            }

                            h5 {
                                font-size: 14px;
                            }
                        }

                        .card--5--2 {
                            p {
                                font-size: 14px;
                            }
                        }
                    }

                    .card--5:nth-of-type(1) {
                        display: block;
                    }

                    .card--5:nth-of-type(2) {
                        display: none;
                    }

                    .card--5:nth-of-type(3) {
                        display: none;
                    }

                    .card--5:nth-of-type(4) {
                        display: none;
                    }
                }
            }
        }

        .section--6 {
            padding: 20px 30px;

            .section--6--letter {
                gap: 20px;
                padding: 0 50px;

                .letter--6 {
                    gap: 10px;

                    h2 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 18px;
                    }
                }

                .start--1 {
                    display: none;
                }

                .start--2 {
                    display: block;
                }
            }
        }
        .section--7 {
            padding: 20px 5px;
            .section--7--letter {
                gap: 15px;
                h2 {
                    font-size: 36px;
                }
                .section--7--1 {
                    max-width: 330px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    p {
                        font-size: 14px;
                    }
                }
                .section--7--2 {
                    width: 100%;
                    gap: 10px;
                    p {
                        font-size: 12px;
                    }
                }
                .section--7--3 {
                    width: 100%;
                    gap: 10px;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}